In [1]:
import pandas as pd  #Working with DataFrames
import numpy as np   # For Matrix Operations
import matplotlib.pyplot as plt # Visualization of the Data
import matplotlib.image as mpimg # Image formation from the pixels
import seaborn as sns # Visualization of Graphs
%matplotlib inline

np.random.seed(2)

from sklearn.model_selection import train_test_split # Spliting the data into Traing and Validation Set
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression# To check the similarity between Predictions and Answers
import itertools

from keras.layers import Dense
from keras.models import Sequential
from keras.regularizers import l1

Using TensorFlow backend.

In [74]:
train_set = pd.read_csv('train.csv')
test_set = pd.read_csv('test.csv')

In [75]:
train_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [76]:
train_set.describe(include=['O'])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [77]:
train_set['MSZoning'].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [78]:
check = [train_set,test_set]

In [79]:
X = train_set.drop(['SalePrice'],axis = 1)

In [80]:
Y = train_set['SalePrice']

In [81]:
X.values

array([[1, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       [2, 20, 'RL', ..., 2007, 'WD', 'Normal'],
       [3, 60, 'RL', ..., 2008, 'WD', 'Normal'],
       ...,
       [1458, 70, 'RL', ..., 2010, 'WD', 'Normal'],
       [1459, 20, 'RL', ..., 2010, 'WD', 'Normal'],
       [1460, 20, 'RL', ..., 2008, 'WD', 'Normal']], dtype=object)

In [82]:
X.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

# Feature Scaling

MSZoning

In [83]:
for dataset in check:
    dataset['MSZoning'] = dataset['MSZoning'].map({'RL':1,'RM':2,'RH':3,'FV':3,'C':2})
train_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,1.0,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,1.0,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,1.0,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,1.0,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,1.0,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [84]:
test_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,3.0,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,1.0,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,1.0,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,1.0,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,1.0,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [85]:
train_set.describe()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1450.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,1.262069,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,0.552561,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,1.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,1.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,1.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,1.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,3.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [86]:
for dataset in check:
    dataset['MSZoning'] = dataset['MSZoning'].fillna(1)
train_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,1.0,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,1.0,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,1.0,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,1.0,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,1.0,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Lot Area

In [87]:
for dataset in check:
    dataset['LotArea'] = (dataset['LotArea'] - 1300)/(215245-1300)*10
train_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,1.0,65.0,0.334198,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,1.0,80.0,0.387950,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,1.0,68.0,0.465073,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,1.0,60.0,0.385613,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,1.0,84.0,0.605763,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [88]:
train_set.describe(include=['O'])

,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,91,1460,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,2,2,4,4,2,5,3,25,9,8,...,6,3,5,5,3,3,4,4,9,6
top,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1454,50,925,1311,1459,1052,1382,225,1260,1445,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [89]:
train_set = train_set.drop(['Utilities'],axis = 1)

In [90]:
test_set = test_set.drop(['Utilities'],axis = 1)

In [91]:
combine = [train_set,test_set]

In [92]:
for dataset in combine:
    dataset['LotShape'] = dataset['LotShape'].map({'Reg':5,'IR1':3,'IR2':2,'IR3':1})
train_set['LotShape'].head()

0    5
1    5
2    3
3    3
4    3
Name: LotShape, dtype: int64

In [93]:
for dataset in combine:
    dataset['ExterQual'] = dataset['ExterQual'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
train_set['ExterQual'].head()

0    4
1    3
2    4
3    3
4    4
Name: ExterQual, dtype: int64

In [94]:
for dataset in combine:
    dataset['ExterCond'] = dataset['ExterCond'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
train_set['ExterCond'].head()

0    3
1    3
2    3
3    3
4    3
Name: ExterCond, dtype: int64

In [95]:
for dataset in combine:
    dataset['BsmtQual'] = dataset['BsmtQual'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
train_set['BsmtQual'].head()

0    4.0
1    4.0
2    4.0
3    3.0
4    4.0
Name: BsmtQual, dtype: float64

In [96]:
print(train_set['BsmtQual'].value_counts())

3.0    649
4.0    618
5.0    121
2.0     35
Name: BsmtQual, dtype: int64

In [97]:
for dataset in combine:
    dataset['BsmtCond'] = dataset['BsmtCond'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
print(train_set['BsmtCond'].head())
print(train_set['BsmtCond'].value_counts())

0    3.0
1    3.0
2    3.0
3    4.0
4    3.0
Name: BsmtCond, dtype: float64
3.0    1311
4.0      65
2.0      45
1.0       2
Name: BsmtCond, dtype: int64

In [98]:
print(train_set['BsmtExposure'].value_counts())
for dataset in combine:
    dataset['BsmtExposure'] = dataset['BsmtExposure'].map({'Gd':4,'Av':3,'Mn':2,'No':1})
print(train_set['BsmtExposure'].head())
print(train_set['BsmtExposure'].value_counts())

No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64
0    1.0
1    4.0
2    2.0
3    1.0
4    3.0
Name: BsmtExposure, dtype: float64
1.0    953
3.0    221
4.0    134
2.0    114
Name: BsmtExposure, dtype: int64

In [99]:
print(train_set['KitchenQual'].value_counts())
for dataset in combine:
    dataset['KitchenQual'] = dataset['KitchenQual'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
print(train_set['KitchenQual'].head())
print(train_set['KitchenQual'].value_counts())

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64
0    4
1    3
2    4
3    4
4    4
Name: KitchenQual, dtype: int64
3    735
4    586
5    100
2     39
Name: KitchenQual, dtype: int64

In [100]:
print(train_set['GarageQual'].value_counts())
for dataset in combine:
    dataset['GarageQual'] = dataset['GarageQual'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
print(train_set['GarageQual'].head())
print(train_set['GarageQual'].value_counts())

TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: GarageQual, dtype: int64
0    3.0
1    3.0
2    3.0
3    3.0
4    3.0
Name: GarageQual, dtype: float64
3.0    1311
2.0      48
4.0      14
1.0       3
5.0       3
Name: GarageQual, dtype: int64

In [101]:
print(train_set['GarageCond'].value_counts())
for dataset in combine:
    dataset['GarageCond'] = dataset['GarageCond'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
print(train_set['GarageCond'].head())
print(train_set['GarageCond'].value_counts())

TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64
0    3.0
1    3.0
2    3.0
3    3.0
4    3.0
Name: GarageCond, dtype: float64
3.0    1326
2.0      35
4.0       9
1.0       7
5.0       2
Name: GarageCond, dtype: int64

In [102]:
train_set.describe(include=['O'])

,Street,Alley,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,...,Functional,FireplaceQu,GarageType,GarageFinish,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,91,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,770,1379,1379,1460,7,281,54,1460,1460
unique,2,2,4,5,3,25,9,8,5,8,...,7,5,6,3,3,3,4,4,9,6
top,Pave,Grvl,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,...,Typ,Gd,Attchd,Unf,Y,Gd,MnPrv,Shed,WD,Normal
freq,1454,50,1311,1052,1382,225,1260,1445,1220,726,...,1360,380,870,605,1340,3,157,49,1267,1198

In [103]:
test_set = test_set.drop(['Street'],axis = 1)
train_set = train_set.drop(['Alley'],axis = 1)
test_set = test_set.drop(['Alley'],axis = 1)
train_set = train_set.drop(['Street'],axis = 1)

In [104]:
combine=[train_set,test_set]

In [105]:
print(train_set['PavedDrive'].value_counts())
for dataset in combine:
    dataset['PavedDrive'] = dataset['PavedDrive'].map({'Y':5,'P':3,'N':1})
print(train_set['PavedDrive'].head())
print(train_set['PavedDrive'].value_counts())
train_set.describe(include=['O'])

Y    1340
N      90
P      30
Name: PavedDrive, dtype: int64
0    5
1    5
2    5
3    5
4    5
Name: PavedDrive, dtype: int64
5    1340
1      90
3      30
Name: PavedDrive, dtype: int64

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,Electrical,Functional,FireplaceQu,GarageType,GarageFinish,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1459,1460,770,1379,1379,7,281,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,5,7,5,6,3,3,4,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,SBrkr,Typ,Gd,Attchd,Unf,Gd,MnPrv,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,1334,1360,380,870,605,3,157,49,1267,1198

In [106]:
print(train_set['PoolQC'].value_counts())
for dataset in combine:
    dataset['PoolQC'] = dataset['PoolQC'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
print(train_set['PoolQC'].head())
print(train_set['PoolQC'].value_counts())
train_set.describe(include=['O'])

Gd    3
Ex    2
Fa    2
Name: PoolQC, dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: PoolQC, dtype: float64
4.0    3
2.0    2
5.0    2
Name: PoolQC, dtype: int64

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,CentralAir,Electrical,Functional,FireplaceQu,GarageType,GarageFinish,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1459,1460,770,1379,1379,281,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,2,5,7,5,6,3,4,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,Y,SBrkr,Typ,Gd,Attchd,Unf,MnPrv,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,1365,1334,1360,380,870,605,157,49,1267,1198

In [107]:
for dataset in combine:
    dataset['PoolQC'] = dataset['PoolQC'].fillna(0)

In [108]:
(train_set['PoolQC'].value_counts())

0.0    1453
4.0       3
2.0       2
5.0       2
Name: PoolQC, dtype: int64

In [109]:
print(train_set['PoolQC'].head())

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: PoolQC, dtype: float64

In [110]:
print(train_set['Fence'].value_counts())
for dataset in combine:
    dataset['Fence'] = dataset['Fence'].fillna(0)
    dataset['Fence'] = dataset['Fence'].map({'GdPrv':5,'GdWo':4,'MnWw':3,'MnPrv':2,'Po':1})
print(train_set['Fence'].head())
print(train_set['Fence'].value_counts())
train_set.describe(include=['O'])

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Fence, dtype: float64
2.0    157
5.0     59
4.0     54
3.0     11
Name: Fence, dtype: int64

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,HeatingQC,CentralAir,Electrical,Functional,FireplaceQu,GarageType,GarageFinish,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1460,1459,1460,770,1379,1379,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,5,2,5,7,5,6,3,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,Ex,Y,SBrkr,Typ,Gd,Attchd,Unf,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,741,1365,1334,1360,380,870,605,49,1267,1198

In [111]:
for dataset in combine:
    dataset['Fence'] = dataset['Fence'].fillna(0)

In [112]:
print(train_set['Fence'].value_counts())
for dataset in combine:
    dataset['Fence'] = dataset['Fence'].fillna(0)
    dataset['Fence'] = dataset['Fence'].map({'GdPrv':5,'GdWo':4,'MnWw':3,'MnPrv':2,'Po':1})
print(train_set['Fence'].head())
print(train_set['Fence'].value_counts())
train_set.describe(include=['O'])

0.0    1179
2.0     157
5.0      59
4.0      54
3.0      11
Name: Fence, dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Fence, dtype: float64
Series([], Name: Fence, dtype: int64)

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,HeatingQC,CentralAir,Electrical,Functional,FireplaceQu,GarageType,GarageFinish,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1460,1459,1460,770,1379,1379,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,5,2,5,7,5,6,3,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,Ex,Y,SBrkr,Typ,Gd,Attchd,Unf,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,741,1365,1334,1360,380,870,605,49,1267,1198

In [116]:
for dataset in combine:
    dataset['GarageFinish'] = dataset['GarageFinish'].fillna(0.0)

In [117]:
train_set['GarageFinish'].describe(include=['O'])

count    1460.000000
mean        2.034247
std         1.883933
min         0.000000
25%         0.000000
50%         2.000000
75%         2.000000
max         5.000000
Name: GarageFinish, dtype: float64

In [115]:
print(train_set['GarageFinish'].value_counts())
for dataset in combine:
    dataset['GarageFinish'] = dataset['GarageFinish'].fillna(0)
    dataset['GarageFinish'] = dataset['GarageFinish'].map({'Fin':5,'Rfn':4,'Unf':2})
print(train_set['GarageFinish'].head())
print(train_set['GarageFinish'].value_counts())
train_set.describe(include=['O'])

Unf    605
RFn    422
Fin    352
0.0     81
Name: GarageFinish, dtype: int64
0    NaN
1    NaN
2    NaN
3    2.0
4    NaN
Name: GarageFinish, dtype: float64
2.0    605
5.0    352
Name: GarageFinish, dtype: int64

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,Heating,HeatingQC,CentralAir,Electrical,Functional,FireplaceQu,GarageType,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1460,1460,1459,1460,770,1379,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,6,5,2,5,7,5,6,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,GasA,Ex,Y,SBrkr,Typ,Gd,Attchd,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,1428,741,1365,1334,1360,380,870,49,1267,1198

In [121]:
for dataset in combine:
    dataset['FireplaceQu'] = dataset['FireplaceQu'].fillna(0.0)
print(train_set['FireplaceQu'].head())
print(train_set['FireplaceQu'].describe(include=['O']))

0    0.0
1    1.0
2    1.0
3    3.0
4    1.0
Name: FireplaceQu, dtype: float64
count    1460.000000
mean        1.077397
std         1.344716
min         0.000000
25%         0.000000
50%         0.000000
75%         3.000000
max         5.000000
Name: FireplaceQu, dtype: float64

In [119]:
print(train_set['FireplaceQu'].value_counts())
for dataset in combine:
    #dataset['FireplaceQu'] = dataset['FireplaceQu'].fillna(0)
    dataset['FireplaceQu'] = dataset['FireplaceQu'].map({'Ex':5,'Gd':3,'TA':1})
print(train_set['FireplaceQu'].head())
print(train_set['FireplaceQu'].value_counts())
train_set.describe(include=['O'])

0.0    690
Gd     380
TA     313
Fa      33
Ex      24
Po      20
Name: FireplaceQu, dtype: int64
0    NaN
1    1.0
2    1.0
3    3.0
4    1.0
Name: FireplaceQu, dtype: float64
3.0    380
1.0    313
5.0     24
Name: FireplaceQu, dtype: int64

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,BsmtFinType2,Heating,HeatingQC,CentralAir,Electrical,Functional,GarageType,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1422,1460,1460,1460,1459,1460,1379,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,6,6,5,2,5,7,6,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,Unf,GasA,Ex,Y,SBrkr,Typ,Attchd,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,1256,1428,741,1365,1334,1360,870,49,1267,1198

In [120]:
print(train_set['CentralAir'].value_counts())
for dataset in combine:
    #dataset['CentralAir'] = dataset['CentralAir'].fillna(0)
    dataset['CentralAir'] = dataset['CentralAir'].map({'Y':3,'N':0})
print(train_set['CentralAir'].head())
print(train_set['CentralAir'].value_counts())
train_set.describe(include=['O'])

Y    1365
N      95
Name: CentralAir, dtype: int64
0    3
1    3
2    3
3    3
4    3
Name: CentralAir, dtype: int64
3    1365
0      95
Name: CentralAir, dtype: int64

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,BsmtFinType1,BsmtFinType2,Heating,HeatingQC,Electrical,Functional,GarageType,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1423,1422,1460,1460,1459,1460,1379,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,6,6,6,5,5,7,6,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,Unf,Unf,GasA,Ex,SBrkr,Typ,Attchd,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,430,1256,1428,741,1334,1360,870,49,1267,1198

In [122]:
print(train_set['HeatingQC'].value_counts())
for dataset in combine:
    dataset['HeatingQC'] = dataset['HeatingQC'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})
print(train_set['HeatingQC'].head())
print(train_set['HeatingQC'].value_counts())
train_set.describe(include=['O'])

Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64
0    5
1    5
2    5
3    4
4    5
Name: HeatingQC, dtype: int64
5    741
3    428
4    241
2     49
1      1
Name: HeatingQC, dtype: int64

,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,...,Foundation,BsmtFinType1,BsmtFinType2,Heating,Electrical,Functional,GarageType,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1423,1422,1460,1459,1460,1379,54,1460,1460
unique,4,5,3,25,9,8,5,8,6,8,...,6,6,6,6,5,7,6,4,9,6
top,Lvl,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,...,PConc,Unf,Unf,GasA,SBrkr,Typ,Attchd,Shed,WD,Normal
freq,1311,1052,1382,225,1260,1445,1220,726,1141,1434,...,647,430,1256,1428,1334,1360,870,49,1267,1198

In [123]:
print(train_set['LandContour'].value_counts())
for dataset in combine:
    dataset['LandContour'] = dataset['LandContour'].map({'Lvl':3,'Bnk':5,'HLS':5,'Low':2})
print(train_set['LandContour'].head())
print(train_set['LandContour'].value_counts())
train_set.describe(include=['O'])

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64
0    3
1    3
2    3
3    3
4    3
Name: LandContour, dtype: int64
3    1311
5     113
2      36
Name: LandContour, dtype: int64

,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,...,Foundation,BsmtFinType1,BsmtFinType2,Heating,Electrical,Functional,GarageType,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1423,1422,1460,1459,1460,1379,54,1460,1460
unique,5,3,25,9,8,5,8,6,8,15,...,6,6,6,6,5,7,6,4,9,6
top,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,...,PConc,Unf,Unf,GasA,SBrkr,Typ,Attchd,Shed,WD,Normal
freq,1052,1382,225,1260,1445,1220,726,1141,1434,515,...,647,430,1256,1428,1334,1360,870,49,1267,1198

In [124]:
print(train_set['LandSlope'].value_counts())
for dataset in combine:
    dataset['LandSlope'] = dataset['LandSlope'].map({'Gtl':5,'Mod':3,'Sev':1})
print(train_set['LandSlope'].head())
print(train_set['LandSlope'].value_counts())
train_set.describe(include=['O'])

Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64
0    5
1    5
2    5
3    5
4    5
Name: LandSlope, dtype: int64
5    1382
3      65
1      13
Name: LandSlope, dtype: int64

,LotConfig,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,...,Foundation,BsmtFinType1,BsmtFinType2,Heating,Electrical,Functional,GarageType,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1423,1422,1460,1459,1460,1379,54,1460,1460
unique,5,25,9,8,5,8,6,8,15,16,...,6,6,6,6,5,7,6,4,9,6
top,Inside,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,...,PConc,Unf,Unf,GasA,SBrkr,Typ,Attchd,Shed,WD,Normal
freq,1052,225,1260,1445,1220,726,1141,1434,515,504,...,647,430,1256,1428,1334,1360,870,49,1267,1198

In [125]:
train_set['MiscFeature'].value_counts()

Shed    49
Othr     2
Gar2     2
TenC     1
Name: MiscFeature, dtype: int64

In [128]:
for dataset in combine:
    dataset['MiscFeature'] = dataset['MiscFeature'].fillna(0.0)

In [127]:
print(train_set['MiscFeature'].value_counts())
for dataset in combine:
    dataset['MiscFeature'] = dataset['MiscFeature'].map({'Shed':3,'Othr':2,'Gar2':2,'TenC':5})
print(train_set['MiscFeature'].head())
print(train_set['MiscFeature'].value_counts())
train_set.describe(include=['O'])

0.0     1406
Shed      49
Othr       2
Gar2       2
TenC       1
Name: MiscFeature, dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: MiscFeature, dtype: float64
3.0    49
2.0     4
5.0     1
Name: MiscFeature, dtype: int64

,LotConfig,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,Foundation,BsmtFinType1,BsmtFinType2,Heating,Electrical,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,1452,1460,1423,1422,1460,1459,1460,1379,1460,1460
unique,5,25,9,8,5,8,6,8,15,16,4,6,6,6,6,5,7,6,9,6
top,Inside,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,PConc,Unf,Unf,GasA,SBrkr,Typ,Attchd,WD,Normal
freq,1052,225,1260,1445,1220,726,1141,1434,515,504,864,647,430,1256,1428,1334,1360,870,1267,1198

In [53]:
print(train_set['MiscFeature'].value_counts())
for dataset in combine:
    dataset['MiscFeature'] = dataset['MiscFeature'].map({'Shed':3,'Othr':2,'Gar2':2,'TenC':5})
print(train_set['MiscFeature'].head())
print(train_set['MiscFeature'].value_counts())
train_set.describe(include=['O'])

3.0    49
2.0     4
5.0     1
Name: MiscFeature, dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: MiscFeature, dtype: float64
Series([], Name: MiscFeature, dtype: int64)

,LotConfig,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,Foundation,BsmtFinType1,BsmtFinType2,Heating,Electrical,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,1452,1460,1423,1422,1460,1459,1460,1379,1460,1460
unique,5,25,9,8,5,8,6,8,15,16,4,6,6,6,6,5,7,6,9,6
top,Inside,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,PConc,Unf,Unf,GasA,SBrkr,Typ,Attchd,WD,Normal
freq,1052,225,1260,1445,1220,726,1141,1434,515,504,864,647,430,1256,1428,1334,1360,870,1267,1198

In [129]:
train_set['Condition2'].value_counts()

Norm      1445
Feedr        6
PosN         2
RRNn         2
Artery       2
RRAe         1
PosA         1
RRAn         1
Name: Condition2, dtype: int64

In [130]:
test_set = test_set.drop(['Condition2'],axis = 1)
train_set = train_set.drop(['Condition2'],axis = 1)

In [131]:
combine=[train_set,test_set]

In [132]:

for dataset in combine:
    dataset['TotRmsAbvGrd'] = dataset['TotRmsAbvGrd']/2

In [133]:
train_set['Electrical'].describe()

count      1459
unique        5
top       SBrkr
freq       1334
Name: Electrical, dtype: object

In [134]:
train_set.describe(include=['O'])

,LotConfig,Neighborhood,Condition1,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,Foundation,BsmtFinType1,BsmtFinType2,Heating,Electrical,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1452,1460,1423,1422,1460,1459,1460,1379,1460,1460
unique,5,25,9,5,8,6,8,15,16,4,6,6,6,6,5,7,6,9,6
top,Inside,NAmes,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,PConc,Unf,Unf,GasA,SBrkr,Typ,Attchd,WD,Normal
freq,1052,225,1260,1220,726,1141,1434,515,504,864,647,430,1256,1428,1334,1360,870,1267,1198

In [135]:
print(train_set['Electrical'].value_counts())
for dataset in combine:
    dataset['Electrical'] = dataset['Electrical'].map({'SBrkr':4,'FuseA':3,'FuseF':2,'FuseP':1,'Mix':3})
print(train_set['Electrical'].head())
print(train_set['Electrical'].value_counts())
train_set.describe(include=['O'])

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64
0    4.0
1    4.0
2    4.0
3    4.0
4    4.0
Name: Electrical, dtype: float64
4.0    1334
3.0      95
2.0      27
1.0       3
Name: Electrical, dtype: int64

,LotConfig,Neighborhood,Condition1,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,Foundation,BsmtFinType1,BsmtFinType2,Heating,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1452,1460,1423,1422,1460,1460,1379,1460,1460
unique,5,25,9,5,8,6,8,15,16,4,6,6,6,6,7,6,9,6
top,Inside,NAmes,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,PConc,Unf,Unf,GasA,Typ,Attchd,WD,Normal
freq,1052,225,1260,1220,726,1141,1434,515,504,864,647,430,1256,1428,1360,870,1267,1198

In [136]:
for dataset in combine:
    dataset['Electrical'] = dataset['Electrical'].fillna(0.0)

In [137]:
train_set.head(
)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,1.0,65.0,0.334198,5,3,Inside,5,CollgCr,...,0,0.0,NaN,0.0,0,2,2008,WD,Normal,208500
1,2,20,1.0,80.0,0.387950,5,3,FR2,5,Veenker,...,0,0.0,NaN,0.0,0,5,2007,WD,Normal,181500
2,3,60,1.0,68.0,0.465073,3,3,Inside,5,CollgCr,...,0,0.0,NaN,0.0,0,9,2008,WD,Normal,223500
3,4,70,1.0,60.0,0.385613,3,3,Corner,5,Crawfor,...,0,0.0,NaN,0.0,0,2,2006,WD,Abnorml,140000
4,5,60,1.0,84.0,0.605763,3,3,FR2,5,NoRidge,...,0,0.0,NaN,0.0,0,12,2008,WD,Normal,250000

In [138]:
train_set.describe(include=['O'])

,LotConfig,Neighborhood,Condition1,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,Foundation,BsmtFinType1,BsmtFinType2,Heating,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1452,1460,1423,1422,1460,1460,1379,1460,1460
unique,5,25,9,5,8,6,8,15,16,4,6,6,6,6,7,6,9,6
top,Inside,NAmes,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,PConc,Unf,Unf,GasA,Typ,Attchd,WD,Normal
freq,1052,225,1260,1220,726,1141,1434,515,504,864,647,430,1256,1428,1360,870,1267,1198

In [139]:
print(train_set['LotConfig'].value_counts())
for dataset in combine:
    dataset['LotConfig'] = dataset['LotConfig'].map({'Inside':2,'Outside':1,'CulDsac':3,'FR2':2,'FR3':3})
print(train_set['LotConfig'].head())
print(train_set['LotConfig'].value_counts())
train_set.describe(include=['O'])

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64
0    2.0
1    2.0
2    2.0
3    NaN
4    2.0
Name: LotConfig, dtype: float64
2.0    1099
3.0       4
Name: LotConfig, dtype: int64

,Neighborhood,Condition1,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,Foundation,BsmtFinType1,BsmtFinType2,Heating,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1452,1460,1423,1422,1460,1460,1379,1460,1460
unique,25,9,5,8,6,8,15,16,4,6,6,6,6,7,6,9,6
top,NAmes,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,PConc,Unf,Unf,GasA,Typ,Attchd,WD,Normal
freq,225,1260,1220,726,1141,1434,515,504,864,647,430,1256,1428,1360,870,1267,1198

In [141]:
print(train_set['BldgType'].value_counts())
for dataset in combine:
    dataset['BldgType'] = dataset['BldgType'].map({'1Fam':2,'Duplex':3,'TwnhsE':2,'2fmCon':1,'Twnhs':1})
print(train_set['BldgType'].head())
print(train_set['BldgType'].value_counts())
print(train_set.describe(include=['O']))
print(train_set.describe(include=['O'])).shape

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64
0    2
1    2
2    2
3    2
4    2
Name: BldgType, dtype: int64
2    1334
1      74
3      52
Name: BldgType, dtype: int64
       Neighborhood Condition1 HouseStyle RoofStyle RoofMatl Exterior1st  \
count          1460       1460       1460      1460     1460        1460
unique           25          9          8         6        8          15
top           NAmes       Norm     1Story     Gable  CompShg     VinylSd
freq            225       1260        726      1141     1434         515

       Exterior2nd MasVnrType Foundation BsmtFinType1 BsmtFinType2 Heating  \
count         1460       1452       1460         1423         1422    1460
unique          16          4          6            6            6       6
top        VinylSd       None      PConc          Unf          Unf    GasA
freq           504        864        647          430         1256    1428

       Functional GarageType SaleType SaleCondition
count        1460       1379     1460          1460
unique          7          6        9             6
top           Typ     Attchd       WD        Normal
freq         1360        870     1267          1198
       Neighborhood Condition1 HouseStyle RoofStyle RoofMatl Exterior1st  \
count          1460       1460       1460      1460     1460        1460
unique           25          9          8         6        8          15
top           NAmes       Norm     1Story     Gable  CompShg     VinylSd
freq            225       1260        726      1141     1434         515

       Exterior2nd MasVnrType Foundation BsmtFinType1 BsmtFinType2 Heating  \
count         1460       1452       1460         1423         1422    1460
unique          16          4          6            6            6       6
top        VinylSd       None      PConc          Unf          Unf    GasA
freq           504        864        647          430         1256    1428

       Functional GarageType SaleType SaleCondition
count        1460       1379     1460          1460
unique          7          6        9             6
top           Typ     Attchd       WD        Normal
freq         1360        870     1267          1198

AttributeError: 'NoneType' object has no attribute 'shape'

In [142]:
(train_set['BldgType'].describe(include=['O']))

count    1460.000000
mean        1.984932
std         0.293485
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         3.000000
Name: BldgType, dtype: float64

In [145]:
(train_set.describe(include=['O']))

,Neighborhood,Condition1,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,Foundation,BsmtFinType1,BsmtFinType2,Heating,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1452,1460,1423,1422,1460,1460,1379,1460,1460
unique,25,9,8,6,8,15,16,4,6,6,6,6,7,6,9,6
top,NAmes,Norm,1Story,Gable,CompShg,VinylSd,VinylSd,None,PConc,Unf,Unf,GasA,Typ,Attchd,WD,Normal
freq,225,1260,726,1141,1434,515,504,864,647,430,1256,1428,1360,870,1267,1198

In [147]:
print(train_set['RoofStyle'].value_counts())

for dataset in combine:
    dataset['RoofStyle'] = dataset['RoofStyle'].map({'Mansard':2,'Gambrel':3,'Hip':2,'Shed':1,'Gable':1})
print(train_set['RoofStyle'].head())
print(train_set['RoofStyle'].value_counts())
print(train_set.describe(include=['O']))
print(train_set.describe(include=['O']).shape)

Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: RoofStyle, dtype: float64
1.0    1143
2.0     293
3.0      11
Name: RoofStyle, dtype: int64
       Neighborhood Condition1 HouseStyle RoofMatl Exterior1st Exterior2nd  \
count          1460       1460       1460     1460        1460        1460
unique           25          9          8        8          15          16
top           NAmes       Norm     1Story  CompShg     VinylSd     VinylSd
freq            225       1260        726     1434         515         504

       MasVnrType Foundation BsmtFinType1 BsmtFinType2 Heating Functional  \
count        1452       1460         1423         1422    1460       1460
unique          4          6            6            6       6          7
top          None      PConc          Unf          Unf    GasA        Typ
freq          864        647          430         1256    1428       1360

       GarageType SaleType SaleCondition
count        1379     1460          1460
unique          6        9             6
top        Attchd       WD        Normal
freq          870     1267          1198
       Neighborhood Condition1 HouseStyle RoofMatl Exterior1st Exterior2nd  \
count          1460       1460       1460     1460        1460        1460
unique           25          9          8        8          15          16
top           NAmes       Norm     1Story  CompShg     VinylSd     VinylSd
freq            225       1260        726     1434         515         504

       MasVnrType Foundation BsmtFinType1 BsmtFinType2 Heating Functional  \
count        1452       1460         1423         1422    1460       1460
unique          4          6            6            6       6          7
top          None      PConc          Unf          Unf    GasA        Typ
freq          864        647          430         1256    1428       1360

       GarageType SaleType SaleCondition
count        1379     1460          1460
unique          6        9             6
top        Attchd       WD        Normal
freq          870     1267          1198

AttributeError: 'NoneType' object has no attribute 'shape'

In [151]:
print(train_set['Heating'].describe(include=['O']))
print(train_set['Heating'].value_counts())

count     1460
unique       6
top       GasA
freq      1428
Name: Heating, dtype: object
GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64

In [152]:
print(train_set['Heating'].value_counts())

for dataset in combine:
    dataset['Heating'] = dataset['Heating'].map({'Wall':2,'Floor':3,'GasV':2,'GasA':1,'GasW':1})
print(train_set['Heating'].head())
print(train_set['Heating'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Heating, dtype: float64
1.0    1446
2.0       4
3.0       1
Name: Heating, dtype: int64
       Neighborhood Condition1 HouseStyle RoofMatl Exterior1st Exterior2nd  \
count          1460       1460       1460     1460        1460        1460
unique           25          9          8        8          15          16
top           NAmes       Norm     1Story  CompShg     VinylSd     VinylSd
freq            225       1260        726     1434         515         504

       MasVnrType Foundation BsmtFinType1 BsmtFinType2 Functional GarageType  \
count        1452       1460         1423         1422       1460       1379
unique          4          6            6            6          7          6
top          None      PConc          Unf          Unf        Typ     Attchd
freq          864        647          430         1256       1360        870

       SaleType SaleCondition
count      1460          1460
unique        9             6
top          WD        Normal
freq       1267          1198
(4, 14)

In [153]:
print(train_set['Foundation'].value_counts())

for dataset in combine:
    dataset['Foundation'] = dataset['Foundation'].map({'Wood':2,'CBlock':3,'Slab':2,'Stone':1,'BrkTil':1,'Stone':3})
print(train_set['Foundation'].head())
print(train_set['Foundation'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64
0    NaN
1    3.0
2    NaN
3    1.0
4    NaN
Name: Foundation, dtype: float64
3.0    640
1.0    146
2.0     27
Name: Foundation, dtype: int64
(4, 13)

,Neighborhood,Condition1,HouseStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,BsmtFinType1,BsmtFinType2,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1452,1423,1422,1460,1379,1460,1460
unique,25,9,8,8,15,16,4,6,6,7,6,9,6
top,NAmes,Norm,1Story,CompShg,VinylSd,VinylSd,None,Unf,Unf,Typ,Attchd,WD,Normal
freq,225,1260,726,1434,515,504,864,430,1256,1360,870,1267,1198

In [154]:
for dataset in combine:
    dataset['Foundation'] = dataset['Foundation'].fillna(3)

In [155]:
print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

(4, 13)

,Neighborhood,Condition1,HouseStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,BsmtFinType1,BsmtFinType2,Functional,GarageType,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1452,1423,1422,1460,1379,1460,1460
unique,25,9,8,8,15,16,4,6,6,7,6,9,6
top,NAmes,Norm,1Story,CompShg,VinylSd,VinylSd,None,Unf,Unf,Typ,Attchd,WD,Normal
freq,225,1260,726,1434,515,504,864,430,1256,1360,870,1267,1198

In [158]:
for dataset in combine:
    dataset['GarageType'] = dataset['GarageType'].fillna(0)

In [157]:
print(train_set['GarageType'].value_counts())

for dataset in combine:
    dataset['GarageType'] = dataset['GarageType'].map({'Detchd':1,'Basment':2,'Attchd':3,'CarPort':2,'2Types':4,'BuiltIn':3})
print(train_set['GarageType'].head())
print(train_set['GarageType'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

Attchd     870
Detchd     387
BuiltIn     88
0           81
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64
0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
Name: GarageType, dtype: float64
3.0    958
1.0    387
2.0     28
4.0      6
Name: GarageType, dtype: int64
(4, 12)

,Neighborhood,Condition1,HouseStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,BsmtFinType1,BsmtFinType2,Functional,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1452,1423,1422,1460,1460,1460
unique,25,9,8,8,15,16,4,6,6,7,9,6
top,NAmes,Norm,1Story,CompShg,VinylSd,VinylSd,None,Unf,Unf,Typ,WD,Normal
freq,225,1260,726,1434,515,504,864,430,1256,1360,1267,1198

In [159]:
print(train_set['MasVnrType'].value_counts())

for dataset in combine:
    dataset['MasVnrType'] = dataset['MasVnrType'].map({'BrkCmn':2,'Stone':3,'CBlock':2,'BrkFace':1})
print(train_set['MasVnrType'].head())
print(train_set['MasVnrType'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64
0    1.0
1    NaN
2    1.0
3    NaN
4    1.0
Name: MasVnrType, dtype: float64
1.0    445
3.0    128
2.0     15
Name: MasVnrType, dtype: int64
(4, 11)

,Neighborhood,Condition1,HouseStyle,RoofMatl,Exterior1st,Exterior2nd,BsmtFinType1,BsmtFinType2,Functional,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1423,1422,1460,1460,1460
unique,25,9,8,8,15,16,6,6,7,9,6
top,NAmes,Norm,1Story,CompShg,VinylSd,VinylSd,Unf,Unf,Typ,WD,Normal
freq,225,1260,726,1434,515,504,430,1256,1360,1267,1198

In [160]:
for dataset in combine:
    dataset['MasVnrType'] = dataset['MasVnrType'].fillna(0)

In [167]:

train_set=train_set.drop(['Neighborhood'],axis =1)
test_set=test_set.drop(['Neighborhood'],axis = 1)
combine = [train_set,test_set]
print(train_set.describe(include=['O']))

       Condition1 HouseStyle RoofMatl Exterior1st Exterior2nd BsmtFinType1  \
count        1460       1460     1460        1460        1460         1423
unique          9          8        8          15          16            6
top          Norm     1Story  CompShg     VinylSd     VinylSd          Unf
freq         1260        726     1434         515         504          430

       BsmtFinType2 Functional SaleType SaleCondition
count          1422       1460     1460          1460
unique            6          7        9             6
top             Unf        Typ       WD        Normal
freq           1256       1360     1267          1198

In [168]:
train_set=train_set.drop(['Exterior2nd'],axis =1)
test_set=test_set.drop(['Exterior2nd'],axis = 1)
combine = [train_set,test_set]
print(train_set.describe(include=['O']))

       Condition1 HouseStyle RoofMatl Exterior1st BsmtFinType1 BsmtFinType2  \
count        1460       1460     1460        1460         1423         1422
unique          9          8        8          15            6            6
top          Norm     1Story  CompShg     VinylSd          Unf          Unf
freq         1260        726     1434         515          430         1256

       Functional SaleType SaleCondition
count        1460     1460          1460
unique          7        9             6
top           Typ       WD        Normal
freq         1360     1267          1198

In [169]:
train_set=train_set.drop(['Exterior1st'],axis =1)
test_set=test_set.drop(['Exterior1st'],axis = 1)
combine = [train_set,test_set]
print(train_set.describe(include=['O']))

       Condition1 HouseStyle RoofMatl BsmtFinType1 BsmtFinType2 Functional  \
count        1460       1460     1460         1423         1422       1460
unique          9          8        8            6            6          7
top          Norm     1Story  CompShg          Unf          Unf        Typ
freq         1260        726     1434          430         1256       1360

       SaleType SaleCondition
count      1460          1460
unique        9             6
top          WD        Normal
freq       1267          1198

In [170]:
print(train_set['SaleCondition'].value_counts())

for dataset in combine:
    dataset['SaleCondition'] = dataset['SaleCondition'].map({'Family':2,'Alloca':3,'AdjLand':2,'Partial':1,'Abnormal':0,'Normal':2})
print(train_set['SaleCondition'].head())
print(train_set['SaleCondition'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64
0    2.0
1    2.0
2    2.0
3    NaN
4    2.0
Name: SaleCondition, dtype: float64
2.0    1222
1.0     125
3.0      12
Name: SaleCondition, dtype: int64
(4, 7)

,Condition1,HouseStyle,RoofMatl,BsmtFinType1,BsmtFinType2,Functional,SaleType
count,1460,1460,1460,1423,1422,1460,1460
unique,9,8,8,6,6,7,9
top,Norm,1Story,CompShg,Unf,Unf,Typ,WD
freq,1260,726,1434,430,1256,1360,1267

In [181]:
print(train_set['Functional'].value_counts())

2.0    1360
0.0     100
Name: Functional, dtype: int64

In [173]:
for dataset in combine:
    dataset['Functional']=dataset['Functional'].replace(['Min2','Min1','Mod','Maj1','Maj2','Sev'],'OK')

In [179]:
print(train_set['Functional'].value_counts())

for dataset in combine:
    dataset['Functional'] = dataset['Functional'].map({None:2,0.0:0})
print(train_set['Functional'].head())
print(train_set['Functional'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

0.0    100
Name: Functional, dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Functional, dtype: float64
0.0    100
Name: Functional, dtype: int64
(4, 6)

       Condition1 HouseStyle RoofMatl BsmtFinType1 BsmtFinType2 SaleType
count        1460       1460     1460         1423         1422     1460
unique          9          8        8            6            6        9
top          Norm     1Story  CompShg          Unf          Unf       WD
freq         1260        726     1434          430         1256     1267

In [180]:
for dataset in combine:
    dataset['Functional'] = dataset['Functional'].fillna(2)

In [182]:
print(train_set['HouseStyle'].value_counts())

for dataset in combine:
    dataset['HouseStyle'] = dataset['HouseStyle'].map({'1Story':1,'1.5Fin':2,'1.5Unf':1,'2Story':3,'2.5Fin':4,'2.5Unf':3,'SFoyer':2,'Slvl':1})
print(train_set['HouseStyle'].head())
print(train_set['HouseStyle'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64
0    3.0
1    1.0
2    3.0
3    3.0
4    3.0
Name: HouseStyle, dtype: float64
1.0    740
3.0    456
2.0    191
4.0      8
Name: HouseStyle, dtype: int64
(4, 5)

       Condition1 RoofMatl BsmtFinType1 BsmtFinType2 SaleType
count        1460     1460         1423         1422     1460
unique          9        8            6            6        9
top          Norm  CompShg          Unf          Unf       WD
freq         1260     1434          430         1256     1267

In [183]:
print(train_set['RoofMatl'].value_counts())

for dataset in combine:
    dataset['RoofMatl'] = dataset['RoofMatl'].map({'ClyTile':2,'CompShg':3,'Membran':3,'Metal':2,'Roll':1,'Tar&Grv':3,'WdShake':3,'WdShngl':2})
print(train_set['RoofMatl'].head())
print(train_set['RoofMatl'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Membran       1
ClyTile       1
Roll          1
Metal         1
Name: RoofMatl, dtype: int64
0    3
1    3
2    3
3    3
4    3
Name: RoofMatl, dtype: int64
3    1451
2       8
1       1
Name: RoofMatl, dtype: int64
(4, 4)

       Condition1 BsmtFinType1 BsmtFinType2 SaleType
count        1460         1423         1422     1460
unique          9            6            6        9
top          Norm          Unf          Unf       WD
freq         1260          430         1256     1267

In [187]:
train_set=train_set.drop(['BsmtFinType1'],axis=1)
test_set=test_set.drop(['BsmtFinType1'],axis=1)
train_set=train_set.drop(['BsmtFinType2'],axis=1)
test_set=test_set.drop(['BsmtFinType2'],axis=1)

combine=[train_set,test_set]

In [188]:
(train_set.describe(include=['O']))

       SaleType
count      1460
unique        9
top          WD
freq       1267

In [189]:
print(train_set['SaleType'].value_counts())

for dataset in combine:
    dataset['SaleType'] = dataset['SaleType'].map({'WD':2,'CWD':3,'VWD':3,'New':4,'COD':5,'Con':4,'ConLw':3,'ConLI':2,'ConLD':2,'Oth':2})
print(train_set['SaleType'].head())
print(train_set['SaleType'].value_counts())

print(train_set.describe(include=['O']).shape)
(train_set.describe(include=['O']))

WD       1267
New       122
COD        43
ConLD       9
ConLI       5
ConLw       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64
0    2
1    2
2    2
3    2
4    2
Name: SaleType, dtype: int64
2    1284
4     124
5      43
3       9
Name: SaleType, dtype: int64

ValueError: No objects to concatenate

In [191]:
print(train_set.describe().shape)

(8, 71)

In [192]:
train_set.describe()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,BldgType,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1103.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,0.0,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1359.000000,1460.000000
mean,730.500000,56.897260,1.260274,70.049958,0.430804,4.225342,3.130137,2.003626,4.875342,1.984932,...,2.758904,0.017808,NaN,0.109589,43.489041,6.321918,2007.815753,2.264384,1.916851,180921.195890
std,421.610009,42.300571,0.551088,24.284752,0.466534,1.043555,0.563497,0.060138,0.552465,0.293485,...,40.177307,0.268952,NaN,0.564221,496.123024,2.703626,1.328095,0.735820,0.306537,79442.502883
min,1.000000,20.000000,1.000000,21.000000,0.000000,1.000000,2.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,1.000000,2006.000000,2.000000,1.000000,34900.000000
25%,365.750000,20.000000,1.000000,59.000000,0.292295,3.000000,3.000000,2.000000,5.000000,2.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,5.000000,2007.000000,2.000000,2.000000,129975.000000
50%,730.500000,50.000000,1.000000,69.000000,0.382271,5.000000,3.000000,2.000000,5.000000,2.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,6.000000,2008.000000,2.000000,2.000000,163000.000000
75%,1095.250000,70.000000,1.000000,80.000000,0.481502,5.000000,3.000000,2.000000,5.000000,2.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,8.000000,2009.000000,2.000000,2.000000,214000.000000
max,1460.000000,190.000000,3.000000,313.000000,10.000000,5.000000,5.000000,3.000000,5.000000,3.000000,...,738.000000,5.000000,NaN,5.000000,15500.000000,12.000000,2010.000000,5.000000,3.000000,755000.000000

In [193]:
train_set['MSSubClass'].describe()
train_set['MSSubClass'].head()
for dataset in combine:
    dataset['MSSubClass'] = dataset['MSSubClass'].fillna(0)
for dataset in combine:
    dataset['MSSubClass'] = dataset['MSSubClass']/10
train_set['MSSubClass'].describe()
train_set['MSSubClass'].head()

0    6.0
1    2.0
2    6.0
3    7.0
4    6.0
Name: MSSubClass, dtype: float64

In [195]:
train_set['LotFrontage'].describe()

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

In [196]:
print(train_set['LotFrontage'].describe())
print(train_set['LotFrontage'].head())
for dataset in combine:
    dataset['LotFrontage'] = dataset['LotFrontage'].fillna(0)
for dataset in combine:
    dataset['LotFrontage'] = dataset['LotFrontage']*10/313
print(train_set['LotFrontage'].describe())
print(train_set['LotFrontage'].head())

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64
0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
Name: LotFrontage, dtype: float64
count    1460.000000
mean        1.841000
std         1.107486
min         0.000000
25%         1.341853
50%         2.012780
75%         2.523962
max        10.000000
Name: LotFrontage, dtype: float64
0    2.076677
1    2.555911
2    2.172524
3    1.916933
4    2.683706
Name: LotFrontage, dtype: float64

In [197]:
train_set['YearBuilt'].describe()

count    1460.000000
mean     1971.267808
std        30.202904
min      1872.000000
25%      1954.000000
50%      1973.000000
75%      2000.000000
max      2010.000000
Name: YearBuilt, dtype: float64

In [198]:
print(train_set['YearBuilt'].describe())
print(train_set['YearBuilt'].head())
for dataset in combine:
    dataset['YearBuilt'] = dataset['YearBuilt'].fillna(0)
for dataset in combine:
    dataset['YearBuilt'] = dataset['YearBuilt']*10/2010
print(train_set['YearBuilt'].describe())
print(train_set['YearBuilt'].head())

count    1460.000000
mean     1971.267808
std        30.202904
min      1872.000000
25%      1954.000000
50%      1973.000000
75%      2000.000000
max      2010.000000
Name: YearBuilt, dtype: float64
0    2003
1    1976
2    2001
3    1915
4    2000
Name: YearBuilt, dtype: int64
count    1460.000000
mean        9.807303
std         0.150263
min         9.313433
25%         9.721393
50%         9.815920
75%         9.950249
max        10.000000
Name: YearBuilt, dtype: float64
0    9.965174
1    9.830846
2    9.955224
3    9.527363
4    9.950249
Name: YearBuilt, dtype: float64

In [200]:
for dataset in combine:
    dataset['YearBuilt'] = np.floor(dataset['YearBuilt'])
print(train_set['YearBuilt'].describe())

count    1460.000000
mean        9.000685
std         0.026171
min         9.000000
25%         9.000000
50%         9.000000
75%         9.000000
max        10.000000
Name: YearBuilt, dtype: float64

In [201]:
train_set['YearRemodAdd'].describe()

count    1460.000000
mean     1984.865753
std        20.645407
min      1950.000000
25%      1967.000000
50%      1994.000000
75%      2004.000000
max      2010.000000
Name: YearRemodAdd, dtype: float64

In [202]:
print(train_set['YearRemodAdd'].head())
for dataset in combine:
    dataset['YearRemodAdd'] = dataset['YearRemodAdd'].fillna(0)
for dataset in combine:
    dataset['YearRemodAdd'] = np.floor(dataset['YearRemodAdd']*10/2010)
print(train_set['YearRemodAdd'].describe())
print(train_set['YearRemodAdd'].head())

0    2003
1    1976
2    2002
3    1970
4    2000
Name: YearRemodAdd, dtype: int64
count    1460.000000
mean        9.004110
std         0.063996
min         9.000000
25%         9.000000
50%         9.000000
75%         9.000000
max        10.000000
Name: YearRemodAdd, dtype: float64
0    9.0
1    9.0
2    9.0
3    9.0
4    9.0
Name: YearRemodAdd, dtype: float64

In [208]:
for dataset in combine:
    dataset.loc[dataset['YearRemodAdd'] == dataset['YearBuilt'],'YearRemodAdd']=0
    dataset.loc[dataset['YearRemodAdd'] != dataset['YearBuilt'],'YearRemodAdd']=0

In [209]:
print(train_set['YearRemodAdd'].describe())

count    1460.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
Name: YearRemodAdd, dtype: float64

In [210]:
train_set['MasVnrArea'].describe()

count    1452.000000
mean      103.685262
std       181.066207
min         0.000000
25%         0.000000
50%         0.000000
75%       166.000000
max      1600.000000
Name: MasVnrArea, dtype: float64

In [211]:
print(train_set['MasVnrArea'].head())
for dataset in combine:
    dataset['MasVnrArea'] = dataset['MasVnrArea'].fillna(0)
for dataset in combine:
    dataset['MasVnrArea'] = np.floor(dataset['MasVnrArea']*10/1600)
print(train_set['MasVnrArea'].describe())
print(train_set['MasVnrArea'].head())

0    196.0
1      0.0
2    162.0
3      0.0
4    350.0
Name: MasVnrArea, dtype: float64
count    1460.000000
mean        0.449315
std         0.986978
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        10.000000
Name: MasVnrArea, dtype: float64
0    1.0
1    0.0
2    1.0
3    0.0
4    2.0
Name: MasVnrArea, dtype: float64

In [212]:
train_set['BsmtFinSF1'].mean()

443.6397260273973

In [213]:
print(train_set['BsmtFinSF1'].head())
for dataset in combine:
    dataset['BsmtFinSF1'] = dataset['BsmtFinSF1'].fillna(0)
for dataset in combine:
    dataset['BsmtFinSF1'] = np.floor(dataset['BsmtFinSF1']*10/(dataset['BsmtFinSF1'].mean()))
print(train_set['BsmtFinSF1'].describe())
print(train_set['BsmtFinSF1'].head())

0    706
1    978
2    486
3    216
4    655
Name: BsmtFinSF1, dtype: int64
count    1460.000000
mean        9.661644
std        10.132665
min         0.000000
25%         0.000000
50%         8.000000
75%        16.000000
max       127.000000
Name: BsmtFinSF1, dtype: float64
0    15.0
1    22.0
2    10.0
3     4.0
4    14.0
Name: BsmtFinSF1, dtype: float64

In [215]:
print(train_set['BsmtUnfSF'].head())
for dataset in combine:
    dataset['BsmtUnfSF'] = dataset['BsmtUnfSF'].fillna(0)
for dataset in combine:
    dataset['BsmtUnfSF'] = np.floor(dataset['BsmtUnfSF']*10/(dataset['BsmtUnfSF'].max()))
print(train_set['BsmtUnfSF'].describe())
print(train_set['BsmtUnfSF'].head())

0    150
1    284
2    434
3    540
4    490
Name: BsmtUnfSF, dtype: int64
count    1460.000000
mean        1.969863
std         1.863519
min         0.000000
25%         0.000000
50%         2.000000
75%         3.000000
max        10.000000
Name: BsmtUnfSF, dtype: float64
0    0.0
1    1.0
2    1.0
3    2.0
4    2.0
Name: BsmtUnfSF, dtype: float64

In [216]:
print(train_set['TotalBsmtSF'].head())
for dataset in combine:
    dataset['TotalBsmtSF'] = dataset['TotalBsmtSF'].fillna(0)
for dataset in combine:
    dataset['TotalBsmtSF'] = np.floor(dataset['TotalBsmtSF']*10/(dataset['TotalBsmtSF'].max()))
print(train_set['TotalBsmtSF'].describe())
print(train_set['TotalBsmtSF'].head())

0     856
1    1262
2     920
3     756
4    1145
Name: TotalBsmtSF, dtype: int64
count    1460.000000
mean        1.266438
std         0.726166
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        10.000000
Name: TotalBsmtSF, dtype: float64
0    1.0
1    2.0
2    1.0
3    1.0
4    1.0
Name: TotalBsmtSF, dtype: float64

In [218]:
print(train_set['2ndFlrSF'].head())
for dataset in combine:
    dataset['2ndFlrSF'] = dataset['2ndFlrSF'].fillna(0)
for dataset in combine:
    dataset['2ndFlrSF'] = np.floor(dataset['2ndFlrSF']*10/(dataset['2ndFlrSF'].max()))
print(train_set['2ndFlrSF'].describe())
print(train_set['2ndFlrSF'].head())

0     854
1       0
2     866
3     756
4    1053
Name: 2ndFlrSF, dtype: int64
count    1460.000000
mean        1.473288
std         1.911324
min         0.000000
25%         0.000000
50%         0.000000
75%         3.000000
max        10.000000
Name: 2ndFlrSF, dtype: float64
0    4.0
1    0.0
2    4.0
3    3.0
4    5.0
Name: 2ndFlrSF, dtype: float64

In [219]:
print(train_set['1stFlrSF'].head())
for dataset in combine:
    dataset['1stFlrSF'] = dataset['1stFlrSF'].fillna(0)
for dataset in combine:
    dataset['1stFlrSF'] = np.floor(dataset['1stFlrSF']*10/(dataset['1stFlrSF'].max()))
print(train_set['1stFlrSF'].describe())
print(train_set['1stFlrSF'].head())

0     856
1    1262
2     920
3     961
4    1145
Name: 1stFlrSF, dtype: int64
count    1460.000000
mean        1.971918
std         0.887754
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max        10.000000
Name: 1stFlrSF, dtype: float64
0    1.0
1    2.0
2    1.0
3    2.0
4    2.0
Name: 1stFlrSF, dtype: float64

In [221]:
test_set.describe()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,BldgType,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1129.000000,1459.000000,1459.000000,...,1459.000000,1459.000000,1459.000000,0.0,1459.000000,1459.000000,1459.000000,1459.000000,1458.000000,1370.000000
mean,2190.000000,5.737834,1.281014,1.850167,0.398194,4.248115,3.153530,2.008857,4.909527,1.981494,...,17.064428,1.744345,0.009596,NaN,0.101439,58.167923,6.104181,2007.769705,2.262689,1.921168
std,421.321334,4.274688,0.563392,1.030864,0.231626,1.021773,0.577118,0.093738,0.435132,0.310427,...,56.609763,30.491646,0.212545,NaN,0.536070,630.806978,2.722432,1.301740,0.734665,0.300336
min,1461.000000,2.000000,1.000000,0.000000,0.007946,1.000000,2.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,1.000000,2006.000000,2.000000,1.000000
25%,1825.500000,2.000000,1.000000,1.405751,0.284699,3.000000,3.000000,2.000000,5.000000,2.000000,...,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,4.000000,2007.000000,2.000000,2.000000
50%,2190.000000,5.000000,1.000000,2.012780,0.378555,5.000000,3.000000,2.000000,5.000000,2.000000,...,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,6.000000,2008.000000,2.000000,2.000000
75%,2554.500000,7.000000,1.000000,2.492013,0.477576,5.000000,3.000000,2.000000,5.000000,2.000000,...,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,8.000000,2009.000000,2.000000,2.000000
max,2919.000000,19.000000,3.000000,6.389776,2.584776,5.000000,5.000000,3.000000,5.000000,3.000000,...,576.000000,800.000000,5.000000,NaN,3.000000,17000.000000,12.000000,2010.000000,5.000000,3.000000

In [222]:
train_set['YrSold'].describe()

count    1460.000000
mean     2007.815753
std         1.328095
min      2006.000000
25%      2007.000000
50%      2008.000000
75%      2009.000000
max      2010.000000
Name: YrSold, dtype: float64

In [223]:
print(train_set['YrSold'].head())
for dataset in combine:
    dataset['YrSold'] = dataset['YrSold'].fillna(0)
for dataset in combine:
    dataset['YrSold'] = np.floor((dataset['YrSold']-2005)*2)
print(train_set['YrSold'].describe())
print(train_set['YrSold'].head())

0    2008
1    2007
2    2008
3    2006
4    2008
Name: YrSold, dtype: int64
count    1460.000000
mean        5.631507
std         2.656190
min         2.000000
25%         4.000000
50%         6.000000
75%         8.000000
max        10.000000
Name: YrSold, dtype: float64
0    6.0
1    4.0
2    6.0
3    2.0
4    6.0
Name: YrSold, dtype: float64

In [224]:
train_set=train_set.drop(['MoSold'],axis = 1)
test_set=test_set.drop(['MoSold'],axis = 1)

In [226]:
train_set['MiscVal'].describe()

count     1460.000000
mean        43.489041
std        496.123024
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      15500.000000
Name: MiscVal, dtype: float64

In [233]:
print(train_set['MiscVal'].head())
for dataset in combine:
    dataset['MiscVal'] = dataset['MiscVal'].fillna(0)
for dataset in combine:
    dataset['MiscVal'] = np.floor(dataset['MiscVal']*10/(dataset['MiscVal'].max()))
print(train_set['MiscVal'].describe())
print(train_set['MiscVal'].head())

0    0
1    0
2    0
3    0
4    0
Name: MiscVal, dtype: int64
count    1460.000000
mean        0.015068
std         0.302682
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: MiscVal, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: MiscVal, dtype: float64

In [236]:
train_set['ScreenPorch'].describe()

count    1460.000000
mean       15.060959
std        55.757415
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       480.000000
Name: ScreenPorch, dtype: float64

In [232]:
combine = [train_set,test_set]

In [235]:
print(train_set['PoolArea'].head())
for dataset in combine:
    dataset['PoolArea'] = dataset['PoolArea'].fillna(0)
for dataset in combine:
    dataset['PoolArea'] = np.floor(dataset['PoolArea']*10/(dataset['PoolArea'].max()))
print(train_set['PoolArea'].describe())
print(train_set['PoolArea'].head())

0    0
1    0
2    0
3    0
4    0
Name: PoolArea, dtype: int64
count    1460.000000
mean        0.034932
std         0.511163
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: PoolArea, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: PoolArea, dtype: float64

In [237]:
print(train_set['ScreenPorch'].head())
for dataset in combine:
    dataset['ScreenPorch'] = dataset['ScreenPorch'].fillna(0)
for dataset in combine:
    dataset['ScreenPorch'] = np.floor(dataset['ScreenPorch']*10/(dataset['ScreenPorch'].max()))
print(train_set['ScreenPorch'].describe())
print(train_set['ScreenPorch'].head())

0    0
1    0
2    0
3    0
4    0
Name: ScreenPorch, dtype: int64
count    1460.000000
mean        0.276027
std         1.051700
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: ScreenPorch, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ScreenPorch, dtype: float64

In [238]:
print(train_set['3SsnPorch'].head())
for dataset in combine:
    dataset['3SsnPorch'] = dataset['3SsnPorch'].fillna(0)
for dataset in combine:
    dataset['3SsnPorch'] = np.floor(dataset['3SsnPorch']*10/(dataset['3SsnPorch'].max()))
print(train_set['3SsnPorch'].describe())
print(train_set['3SsnPorch'].head())

0    0
1    0
2    0
3    0
4    0
Name: 3SsnPorch, dtype: int64
count    1460.000000
mean        0.058904
std         0.528122
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: 3SsnPorch, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 3SsnPorch, dtype: float64

In [239]:
print(train_set['EnclosedPorch'].head())
for dataset in combine:
    dataset['EnclosedPorch'] = dataset['EnclosedPorch'].fillna(0)
for dataset in combine:
    dataset['EnclosedPorch'] = np.floor(dataset['EnclosedPorch']*10/(dataset['EnclosedPorch'].max()))
print(train_set['EnclosedPorch'].describe())
print(train_set['EnclosedPorch'].head())

0      0
1      0
2      0
3    272
4      0
Name: EnclosedPorch, dtype: int64
count    1460.000000
mean        0.328767
std         0.968380
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: EnclosedPorch, dtype: float64
0    0.0
1    0.0
2    0.0
3    4.0
4    0.0
Name: EnclosedPorch, dtype: float64

In [240]:
print(train_set['OpenPorchSF'].head())
for dataset in combine:
    dataset['OpenPorchSF'] = dataset['OpenPorchSF'].fillna(0)
for dataset in combine:
    dataset['OpenPorchSF'] = np.floor(dataset['OpenPorchSF']*10/(dataset['OpenPorchSF'].max()))
print(train_set['OpenPorchSF'].describe())
print(train_set['OpenPorchSF'].head())

0    61
1     0
2    42
3    35
4    84
Name: OpenPorchSF, dtype: int64
count    1460.000000
mean        0.569863
std         1.102018
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        10.000000
Name: OpenPorchSF, dtype: float64
0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: OpenPorchSF, dtype: float64

In [243]:
print(train_set['WoodDeckSF'].head())
for dataset in combine:
    dataset['WoodDeckSF'] = dataset['WoodDeckSF'].fillna(0)
for dataset in combine:
    dataset['WoodDeckSF'] = np.floor(dataset['WoodDeckSF']*10/(dataset['WoodDeckSF'].max()))
print(train_set['WoodDeckSF'].describe())
print(train_set['WoodDeckSF'].head())

0      0
1    298
2      0
3      0
4    192
Name: WoodDeckSF, dtype: int64
count    1460.000000
mean        0.858904
std         1.282276
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        10.000000
Name: WoodDeckSF, dtype: float64
0    0.0
1    3.0
2    0.0
3    0.0
4    2.0
Name: WoodDeckSF, dtype: float64

In [244]:
print(train_set['GarageArea'].head())
for dataset in combine:
    dataset['GarageArea'] = dataset['GarageArea'].fillna(0)
for dataset in combine:
    dataset['GarageArea'] = np.floor(dataset['GarageArea']*10/(dataset['GarageArea'].max()))
print(train_set['GarageArea'].describe())
print(train_set['GarageArea'].head())

0    548
1    460
2    608
3    642
4    836
Name: GarageArea, dtype: int64
count    1460.000000
mean        2.881507
std         1.481552
min         0.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        10.000000
Name: GarageArea, dtype: float64
0    3.0
1    3.0
2    4.0
3    4.0
4    5.0
Name: GarageArea, dtype: float64

In [245]:
train_set['GarageYrBlt'].describe()

count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%      1961.000000
50%      1980.000000
75%      2002.000000
max      2010.000000
Name: GarageYrBlt, dtype: float64

In [248]:
print(train_set['GarageYrBlt'].head())
for dataset in combine:
    dataset['GarageYrBlt'] = dataset['GarageYrBlt'].fillna(0)
for dataset in combine:
    dataset['GarageYrBlt'] = dataset['GarageYrBlt']*10
print(train_set['GarageYrBlt'].describe())
print(train_set['GarageYrBlt'].head())

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: GarageYrBlt, dtype: float64
count    1460.000000
mean        0.020548
std         0.452988
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: GarageYrBlt, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: GarageYrBlt, dtype: float64

In [250]:
print(train_set['GrLivArea'].head())
for dataset in combine:
    dataset['GrLivArea'] = dataset['GrLivArea'].fillna(0)
for dataset in combine:
    dataset['GrLivArea'] = np.floor(dataset['GrLivArea']*10/(dataset['GrLivArea'].max()))
print(train_set['GrLivArea'].describe())
print(train_set['GrLivArea'].head())

0    1710
1    1262
2    1786
3    1717
4    2198
Name: GrLivArea, dtype: int64
count    1460.000000
mean        2.173288
std         0.992487
min         0.000000
25%         1.750000
50%         2.000000
75%         3.000000
max        10.000000
Name: GrLivArea, dtype: float64
0    3.0
1    2.0
2    3.0
3    3.0
4    3.0
Name: GrLivArea, dtype: float64

In [251]:
print(train_set['LowQualFinSF'].head())
for dataset in combine:
    dataset['LowQualFinSF'] = dataset['LowQualFinSF'].fillna(0)
for dataset in combine:
    dataset['LowQualFinSF'] = np.floor(dataset['LowQualFinSF']*10/(dataset['LowQualFinSF'].max()))
print(train_set['LowQualFinSF'].describe())
print(train_set['LowQualFinSF'].head())

0    0
1    0
2    0
3    0
4    0
Name: LowQualFinSF, dtype: int64
count    1460.000000
mean        0.093836
std         0.796731
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: LowQualFinSF, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: LowQualFinSF, dtype: float64

In [262]:
train_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,BldgType,...,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,YrSold,SaleType,SaleCondition,SalePrice
0,1,6.0,1.0,2.076677,0.334198,5,3,2.0,5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,2,2.0,208500
1,2,2.0,1.0,2.555911,0.387950,5,3,2.0,5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2,2.0,181500
2,3,6.0,1.0,2.172524,0.465073,3,3,2.0,5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,2,2.0,223500
3,4,7.0,1.0,1.916933,0.385613,3,3,NaN,5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2,NaN,140000
4,5,6.0,1.0,2.683706,0.605763,3,3,2.0,5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,2,2.0,250000

In [253]:
train_set = train_set.drop(['Fence'],axis =1)
test_set = test_set.drop(['Fence'],axis =1)

In [254]:
combine = [train_set,test_set]

In [268]:
test_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,BldgType,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,YrSold,SaleType,SaleCondition
0,1461,2.0,3.0,2.555911,0.482460,5,3,2.0,5,2,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
1,1462,2.0,1.0,2.587859,0.606090,3,3,0.0,5,2,...,0.0,0.0,0.0,0.0,0.0,2.0,7.0,10.0,2.0,2.0
2,1463,6.0,1.0,2.364217,0.585665,3,3,2.0,5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
3,1464,6.0,1.0,2.492013,0.405618,3,3,2.0,5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
4,1465,12.0,1.0,1.373802,0.173175,3,5,2.0,5,2,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0

In [261]:
len(b)

68

In [264]:
train_set.to_csv('check.csv')
test_set.to_csv('check2.csv')

In [275]:
for dataset in combine:
    dataset['SaleCondition'] = dataset['SaleCondition'].fillna(0)

In [279]:
train_set = train_set.drop(['Id'],axis = 1)

In [280]:

test_set =test_set.drop(['Id'],axis = 1)

In [281]:
test_set.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,BldgType,HouseStyle,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,YrSold,SaleType,SaleCondition
0,2.0,3.0,2.555911,0.482460,5,3,2.0,5,2,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
1,2.0,1.0,2.587859,0.606090,3,3,0.0,5,2,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,7.0,10.0,2.0,2.0
2,6.0,1.0,2.364217,0.585665,3,3,2.0,5,2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
3,6.0,1.0,2.492013,0.405618,3,3,2.0,5,2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
4,12.0,1.0,1.373802,0.173175,3,5,2.0,5,2,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0

In [285]:
X = train_set.drop(['SalePrice'],axis = 1)

In [286]:
Y = train_set['SalePrice']

In [287]:
print(X.shape)
print(Y.shape)

(1460, 67)
(1460,)

In [288]:
X_test = test_set

In [294]:
w = [X,X_test]

# Model

In [290]:
reg = LinearRegression()

In [295]:
for dataset in w:
    dataset['Heating']= dataset['Heating'].fillna(0)

In [297]:
for dataset in w:
    dataset['GarageQual']= dataset['GarageQual'].fillna(0)

In [312]:
for dataset in w:
    dataset['SaleType']= dataset['SaleType'].fillna(0)

In [299]:
reg.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [302]:
score = round(reg.score(X,Y)*100,2)

In [303]:
score

83.7

In [306]:
reg.coef_

array([-1.80665850e+03, -9.42658925e+01,  6.76627306e+01,  6.06307345e+03,
       -3.65687600e+02, -1.45706834e+03, -1.23925647e+03, -2.53375700e+03,
       -4.81953258e+03, -6.13453048e+03,  1.36733625e+04,  4.28379793e+03,
        4.00395145e+04, -5.48425305e-10,  1.74965207e+03,  1.37844527e+04,
       -1.24250379e+03,  5.54735624e+03,  1.37194949e+04, -5.32128163e+03,
        3.90376959e+03,  1.74965207e+03, -5.44064986e+03,  5.87107114e+03,
        1.49108044e+03,  1.14801842e+02,  5.12538160e+03, -4.50890979e+03,
        5.61224974e+03,  2.01667652e+03,  6.10548156e+01, -1.56062168e+03,
        8.13346042e+03,  9.33384222e+03,  1.34326182e+03,  3.56026094e+03,
        7.34363830e+03,  1.45297237e+03,  9.78975910e+03,  4.32713959e+03,
       -6.04289716e+03, -1.13055421e+04,  9.28709152e+03,  8.59753420e+03,
        5.77503172e+03,  1.89169621e+03,  2.64828355e+03, -1.31460413e+03,
        2.39420401e+03,  1.03776753e+03,  1.39218206e+04, -1.16029235e+02,
        2.27925948e+03, -8.44854272e+03,  1.60149044e+03,  2.66857559e+03,
        1.27474181e+01, -4.75489962e+02,  1.40446396e+03,  2.54525524e+03,
        2.26477730e+03, -8.14787955e+03, -9.37301313e+02,  1.59984741e+03,
       -2.01700760e+02,  4.50577420e+03,  2.65342675e+03])

In [307]:
X_test.to_csv('chec3.csv')

In [313]:
y_pred = reg.predict(X_test)

In [314]:
test_set.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,BldgType,HouseStyle,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,YrSold,SaleType,SaleCondition
0,2.0,3.0,2.555911,0.482460,5,3,2.0,5,2,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
1,2.0,1.0,2.587859,0.606090,3,3,0.0,5,2,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,7.0,10.0,2.0,2.0
2,6.0,1.0,2.364217,0.585665,3,3,2.0,5,2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
3,6.0,1.0,2.492013,0.405618,3,3,2.0,5,2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0
4,12.0,1.0,1.373802,0.173175,3,5,2.0,5,2,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,10.0,2.0,2.0

In [315]:
id = pd.read_csv('test.csv')

In [316]:
id.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [317]:
ID = id['Id']

In [320]:
y_pred = np.round(y_pred,2)

In [321]:
y_pred

array([106742.85, 168983.35, 156980.33, ..., 166388.28,  94029.26,
       250606.09])

In [322]:
Solution = pd.DataFrame({'ID': ID,'SalePrice':y_pred})

In [323]:
Solution.head()

     ID  SalePrice
0  1461  106742.85
1  1462  168983.35
2  1463  156980.33
3  1464  193849.66
4  1465  182273.79

In [324]:
Solution.to_csv('LinearRegModel.csv')

# Keras Model

In [326]:
#model.add(Dense(256, activation="relu", input_dim = X_train.shape[1]))
model = Sequential()
model.add(Dense(1, input_dim = X.shape[1], W_regularizer=l1(0.001)))
model.compile(loss = "mse", optimizer = "adam")

C:\Users\SHALIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, input_dim=67, kernel_regularizer=<keras.reg...)`
  This is separate from the ipykernel package so we can avoid doing imports until

In [327]:
X_train,X_val,Y_train,Y_val=train_test_split(X,Y,random_state = 3)

In [331]:
model.fit(X_train, Y_train,epochs = 100, validation_data = (X_val, Y_val))

Train on 1095 samples, validate on 365 samples
Epoch 1/100
1095/1095 [==============================] - 0s 30us/step - loss: 39726147290.3598 - val_loss: 36921614768.0438
Epoch 2/100
1095/1095 [==============================] - 0s 28us/step - loss: 39724115824.9205 - val_loss: 36919615633.8849
Epoch 3/100
1095/1095 [==============================] - 0s 28us/step - loss: 39722088397.5014 - val_loss: 36917646748.4055
Epoch 4/100
1095/1095 [==============================] - 0s 29us/step - loss: 39720057075.1416 - val_loss: 36915644954.6521
Epoch 5/100
1095/1095 [==============================] - 0s 30us/step - loss: 39718019479.7297 - val_loss: 36913682465.6658
Epoch 6/100
1095/1095 [==============================] - 0s 30us/step - loss: 39715983457.2566 - val_loss: 36911689582.1151
Epoch 7/100
1095/1095 [==============================] - 0s 32us/step - loss: 39713954895.4886 - val_loss: 36909671297.7534
Epoch 8/100
1095/1095 [==============================] - 0s 29us/step - loss: 39711919697.8265 - val_loss: 36907705178.4767
Epoch 9/100
1095/1095 [==============================] - 0s 30us/step - loss: 39709874783.8539 - val_loss: 36905693935.8685
Epoch 10/100
1095/1095 [==============================] - 0s 29us/step - loss: 39707831336.2119 - val_loss: 36903709889.5781
Epoch 11/100
1095/1095 [==============================] - ETA: 0s - loss: 37124603904.000 - 0s 27us/step - loss: 39705799353.6292 - val_loss: 36901721713.6219
Epoch 12/100
1095/1095 [==============================] - 0s 28us/step - loss: 39703751798.7653 - val_loss: 36899733391.7808
Epoch 13/100
1095/1095 [==============================] - 0s 28us/step - loss: 39701722524.4055 - val_loss: 36897743526.9260
Epoch 14/100
1095/1095 [==============================] - 0s 28us/step - loss: 39699696364.1279 - val_loss: 36895735050.5205
Epoch 15/100
1095/1095 [==============================] - 0s 27us/step - loss: 39697664649.0009 - val_loss: 36893778273.4904
Epoch 16/100
1095/1095 [==============================] - ETA: 0s - loss: 44000059392.000 - 0s 29us/step - loss: 39695648356.5297 - val_loss: 36891760527.7808
Epoch 17/100
1095/1095 [==============================] - 0s 30us/step - loss: 39693604824.7233 - val_loss: 36889782911.6493
Epoch 18/100
1095/1095 [==============================] - 0s 35us/step - loss: 39691581645.7352 - val_loss: 36887813201.3589
Epoch 19/100
1095/1095 [==============================] - 0s 32us/step - loss: 39689560239.8100 - val_loss: 36885836808.4164
Epoch 20/100
1095/1095 [==============================] - 0s 30us/step - loss: 39687534030.9041 - val_loss: 36883846259.0247
Epoch 21/100
1095/1095 [==============================] - 0s 32us/step - loss: 39685505427.9890 - val_loss: 36881863615.4740
Epoch 22/100
1095/1095 [==============================] - 0s 39us/step - loss: 39683478581.3041 - val_loss: 36879883917.6767
Epoch 23/100
1095/1095 [==============================] - 0s 46us/step - loss: 39681453575.0137 - val_loss: 36877906194.9370
Epoch 24/100
1095/1095 [==============================] - 0s 31us/step - loss: 39679414681.6000 - val_loss: 36875922866.8493
Epoch 25/100
1095/1095 [==============================] - 0s 38us/step - loss: 39677381503.8831 - val_loss: 36873911085.5890
Epoch 26/100
1095/1095 [==============================] - 0s 37us/step - loss: 39675349083.6457 - val_loss: 36871928296.1534
Epoch 27/100
1095/1095 [==============================] - 0s 39us/step - loss: 39673310708.3105 - val_loss: 36869943497.9945
Epoch 28/100
1095/1095 [==============================] - 0s 36us/step - loss: 39671287336.6795 - val_loss: 36867953201.0959
Epoch 29/100
1095/1095 [==============================] - 0s 36us/step - loss: 39669261836.6247 - val_loss: 36865986722.7178
Epoch 30/100
1095/1095 [==============================] - 0s 50us/step - loss: 39667233785.4539 - val_loss: 36863975766.2685
Epoch 31/100
1095/1095 [==============================] - 0s 36us/step - loss: 39665193019.8502 - val_loss: 36861996141.4137
Epoch 32/100
1095/1095 [==============================] - ETA: 0s - loss: 41027739648.000 - 0s 45us/step - loss: 39663157790.3927 - val_loss: 36860001243.5288
Epoch 33/100
1095/1095 [==============================] - 0s 34us/step - loss: 39661119271.0429 - val_loss: 36858000779.5726
Epoch 34/100
1095/1095 [==============================] - 0s 67us/step - loss: 39659086108.2886 - val_loss: 36856020616.0658
Epoch 35/100
1095/1095 [==============================] - 0s 42us/step - loss: 39657058251.6311 - val_loss: 36854013862.2247
Epoch 36/100
1095/1095 [==============================] - 0s 30us/step - loss: 39655001347.0393 - val_loss: 36852036605.1945
Epoch 37/100
1095/1095 [==============================] - 0s 56us/step - loss: 39652979785.8776 - val_loss: 36850062585.6877
Epoch 38/100
1095/1095 [==============================] - 0s 31us/step - loss: 39650949911.1452 - val_loss: 36848072861.1068
Epoch 39/100
1095/1095 [==============================] - 0s 42us/step - loss: 39648908990.3050 - val_loss: 36846061079.8466
Epoch 40/100
1095/1095 [==============================] - 0s 32us/step - loss: 39646867074.4548 - val_loss: 36844076674.4548
Epoch 41/100
1095/1095 [==============================] - 0s 32us/step - loss: 39644827977.1763 - val_loss: 36842077287.8027
Epoch 42/100
1095/1095 [==============================] - 0s 52us/step - loss: 39642792414.8018 - val_loss: 36840074882.4548
Epoch 43/100
1095/1095 [==============================] - 0s 39us/step - loss: 39640755150.4365 - val_loss: 36838087497.6438
Epoch 44/100
1095/1095 [==============================] - 0s 42us/step - loss: 39638704752.6868 - val_loss: 36836084839.8027
Epoch 45/100
1095/1095 [==============================] - 0s 37us/step - loss: 39636664518.2539 - val_loss: 36834097236.1644
Epoch 46/100
1095/1095 [==============================] - 0s 35us/step - loss: 39634634503.2475 - val_loss: 36832079670.0055
Epoch 47/100
1095/1095 [==============================] - 0s 32us/step - loss: 39632588770.0749 - val_loss: 36830100763.3534
Epoch 48/100
1095/1095 [==============================] - 0s 37us/step - loss: 39630546156.5954 - val_loss: 36828096489.5562
Epoch 49/100
1095/1095 [==============================] - 0s 32us/step - loss: 39628503932.1425 - val_loss: 36826099150.9041
Epoch 50/100
1095/1095 [==============================] - 0s 48us/step - loss: 39626460361.0594 - val_loss: 36824133211.1781
Epoch 51/100
1095/1095 [==============================] - 0s 65us/step - loss: 39624431804.9023 - val_loss: 36822119022.8164
Epoch 52/100
1095/1095 [==============================] - 0s 35us/step - loss: 39622395008.1169 - val_loss: 36820111264.6137
Epoch 53/100
1095/1095 [==============================] - 0s 33us/step - loss: 39620357646.4950 - val_loss: 36818158224.4822
Epoch 54/100
1095/1095 [==============================] - 0s 67us/step - loss: 39618329681.3589 - val_loss: 36816170334.6849
Epoch 55/100
1095/1095 [==============================] - 0s 35us/step - loss: 39616314662.5753 - val_loss: 36814183129.4247
Epoch 56/100
1095/1095 [==============================] - 0s 31us/step - loss: 39614282642.5863 - val_loss: 36812188484.0329
Epoch 57/100
1095/1095 [==============================] - 0s 33us/step - loss: 39612252545.2858 - val_loss: 36810190713.3370
Epoch 58/100
1095/1095 [==============================] - 0s 60us/step - loss: 39610221553.9726 - val_loss: 36808219134.5973
Epoch 59/100
1095/1095 [==============================] - 0s 97us/step - loss: 39608179684.8804 - val_loss: 36806222048.4384
Epoch 60/100
1095/1095 [==============================] - 0s 36us/step - loss: 39606139038.9772 - val_loss: 36804213751.5836
Epoch 61/100
1095/1095 [==============================] - 0s 51us/step - loss: 39604101881.2201 - val_loss: 36802252412.8438
Epoch 62/100
1095/1095 [==============================] - 0s 57us/step - loss: 39602095157.3041 - val_loss: 36800260460.7123
Epoch 63/100
1095/1095 [==============================] - 0s 68us/step - loss: 39600074561.2274 - val_loss: 36798303650.0164
Epoch 64/100
1095/1095 [==============================] - 0s 53us/step - loss: 39598037356.7123 - val_loss: 36796304908.6247
Epoch 65/100

1095/1095 [==============================] - 0s 36us/step - loss: 39595994778.7690 - val_loss: 36794298586.8274
Epoch 66/100
1095/1095 [==============================] - 0s 41us/step - loss: 39593965091.0685 - val_loss: 36792322266.8274
Epoch 67/100
1095/1095 [==============================] - 0s 52us/step - loss: 39591930598.5169 - val_loss: 36790338545.9726
Epoch 68/100
1095/1095 [==============================] - 0s 33us/step - loss: 39589918168.2557 - val_loss: 36788359600.0438
Epoch 69/100
1095/1095 [==============================] - 0s 28us/step - loss: 39587892043.5142 - val_loss: 36786365459.6384
Epoch 70/100
1095/1095 [==============================] - 0s 38us/step - loss: 39585869964.2740 - val_loss: 36784395031.1452
Epoch 71/100
1095/1095 [==============================] - 0s 28us/step - loss: 39583859761.5635 - val_loss: 36782415153.7973
Epoch 72/100
1095/1095 [==============================] - 0s 33us/step - loss: 39581828325.1142 - val_loss: 36780462758.9260
Epoch 73/100
1095/1095 [==============================] - 0s 32us/step - loss: 39579816246.4731 - val_loss: 36778490248.7671
Epoch 74/100
1095/1095 [==============================] - ETA: 0s - loss: 49591820288.000 - 0s 39us/step - loss: 39577776921.0155 - val_loss: 36776492438.7945
Epoch 75/100
1095/1095 [==============================] - 0s 26us/step - loss: 39575747283.8137 - val_loss: 36774478396.3178
Epoch 76/100
1095/1095 [==============================] - 0s 39us/step - loss: 39573704986.4183 - val_loss: 36772528913.5342
Epoch 77/100
1095/1095 [==============================] - 0s 52us/step - loss: 39571696440.8110 - val_loss: 36770553059.2438
Epoch 78/100
1095/1095 [==============================] - 0s 44us/step - loss: 39569675640.8694 - val_loss: 36768553745.5342
Epoch 79/100
1095/1095 [==============================] - 0s 36us/step - loss: 39567653952.5260 - val_loss: 36766557697.4027
Epoch 80/100
1095/1095 [==============================] - 0s 47us/step - loss: 39565620329.6731 - val_loss: 36764602250.1699
Epoch 81/100
1095/1095 [==============================] - 0s 46us/step - loss: 39563603685.5817 - val_loss: 36762610875.9671
Epoch 82/100
1095/1095 [==============================] - 0s 101us/step - loss: 39561574456.1096 - val_loss: 36760648386.9808
Epoch 83/100
1095/1095 [==============================] - 0s 32us/step - loss: 39559556375.6128 - val_loss: 36758659240.3288
Epoch 84/100
1095/1095 [==============================] - 0s 51us/step - loss: 39557529555.1123 - val_loss: 36756659242.0822
Epoch 85/100
1095/1095 [==============================] - 0s 65us/step - loss: 39555479026.4402 - val_loss: 36754671066.1260
Epoch 86/100
1095/1095 [==============================] - 0s 69us/step - loss: 39553459406.6703 - val_loss: 36752690504.2411
Epoch 87/100
1095/1095 [==============================] - 0s 78us/step - loss: 39551433801.8776 - val_loss: 36750702434.8932
Epoch 88/100
1095/1095 [==============================] - 0s 50us/step - loss: 39549401572.4128 - val_loss: 36748739872.9644
Epoch 89/100
1095/1095 [==============================] - 0s 56us/step - loss: 39547390309.2310 - val_loss: 36746734561.1397
Epoch 90/100
1095/1095 [==============================] - 0s 42us/step - loss: 39545342885.2895 - val_loss: 36744774512.9205
Epoch 91/100
1095/1095 [==============================] - 0s 43us/step - loss: 39543319610.9151 - val_loss: 36742771209.8192
Epoch 92/100
1095/1095 [==============================] - 0s 46us/step - loss: 39541286481.8265 - val_loss: 36740788386.7178
Epoch 93/100
1095/1095 [==============================] - 0s 60us/step - loss: 39539263239.2475 - val_loss: 36738817632.7890
Epoch 94/100
1095/1095 [==============================] - 0s 33us/step - loss: 39537236777.8484 - val_loss: 36736826331.5288
Epoch 95/100
1095/1095 [==============================] - 0s 55us/step - loss: 39535202788.4128 - val_loss: 36734845949.1945
Epoch 96/100
1095/1095 [==============================] - 0s 46us/step - loss: 39533182519.6420 - val_loss: 36732867295.0356
Epoch 97/100
1095/1095 [==============================] - 0s 50us/step - loss: 39531146426.0968 - val_loss: 36730873221.9616
Epoch 98/100
1095/1095 [==============================] - 0s 41us/step - loss: 39529121505.8411 - val_loss: 36728890112.7014
Epoch 99/100
1095/1095 [==============================] - 0s 46us/step - loss: 39527091266.3963 - val_loss: 36726915588.2082
Epoch 100/100
1095/1095 [==============================] - 0s 37us/step - loss: 39525070808.7233 - val_loss: 36724930644.1644

In [332]:
Y_check = model.predict(X_test)

In [334]:
Y_check.shape

(1459, 1)

In [337]:
Y_check

array([[588.74304],
       [568.09454],
       [587.54504],
       ...,
       [571.0644 ],
       [446.01395],
       [599.81274]], dtype=float32)

In [336]:
abs(Y_check-y_pred)

array([[106154.10695801, 168394.60695801, 156391.58695801, ...,
        165799.53695801,  93440.51695801, 250017.34695801],
       [106174.75545654, 168415.25545654, 156412.23545654, ...,
        165820.18545654,  93461.16545654, 250037.99545654],
       [106155.30495605, 168395.80495605, 156392.78495605, ...,
        165800.73495605,  93441.71495605, 250018.54495605],
       ...,
       [106171.78560791, 168412.28560791, 156409.26560791, ...,
        165817.21560791,  93458.19560791, 250035.02560791],
       [106296.83605347, 168537.33605347, 156534.31605347, ...,
        165942.26605347,  93583.24605347, 250160.07605347],
       [106143.03725586, 168383.53725586, 156380.51725586, ...,
        165788.46725586,  93429.44725586, 250006.27725586]])

In [338]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor

In [339]:
rfr = RandomForestRegressor(n_estimators=200, random_state=1)

In [340]:
rfr.fit(X,Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [347]:
rfr.score(X,Y)

0.9802895504681075

In [342]:
y_t = rfr.predict(X_test)

In [343]:
y_t

array([128833.5  , 157353.75 , 171418.4  , ..., 172339.16 , 113775.725,
       226935.695])

In [354]:
Solution2 = pd.DataFrame({'ID': ID,'SalePrice':y_t})

In [345]:
Solution2.to_csv('Solution2.csv')

In [348]:
ada = AdaBoostRegressor(learning_rate=2)

In [349]:
ada.fit(X,Y)

AdaBoostRegressor(base_estimator=None, learning_rate=2, loss='linear',
                  n_estimators=50, random_state=None)

In [350]:
ada.score(X,Y)

0.8440773837615758

In [352]:
y_ada = ada.predict(X_test)

In [364]:
Solution3 = pd.DataFrame({'ID': ID,'SalePrice':y_ada})

In [356]:
Solution3.to_csv('Solution3.csv')

In [359]:
svr = SVR(kernel='linear')

In [358]:
from sklearn.svm import SVR

In [360]:
svr.fit(X,Y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [361]:
svr.score(X,Y)

0.23620838110085984

In [362]:
y_svr = svr.predict(X_test)

In [365]:
Solution4 = pd.DataFrame({'ID': ID,'SalePrice':y_svr})

In [366]:
Solution4.to_csv('Solution4.csv')

In [368]:
print('Shalin')

Shalin